$theme: (
  color: (
    primary: (
      50: #e0f3e9,
      100: #b3e1c7,
      200: #80cda2,
      300: #4db87c,
      400: #26a960,
      500: #009a44,
      600: #00923e,
      700: #008835,
      800: #007e2d,
      900: #006c1f,
      A100: #9cffaf,
      A200: #69ff86,
      A400: #36ff5d,
      A700: #1cff48,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      ),
      default: #009a44,
      lighter: #b3e1c7,
      darker: #008835,
      text: #009a44,
      default-contrast: #ffffff,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #ffffff,
      "500-contrast": #ffffff,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null,
    ),
    accent: (
      50: #e0e8ee,
      100: #b3c5d4,
      200: #809eb8,
      300: #4d779c,
      400: #265986,
      500: #003c71,
      600: #003669,
      700: #002e5e,
      800: #002754,
      900: #001a42,
      A100: #779dff,
      A200: #4478ff,
      A400: #1154ff,
      A700: #0045f6,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
      ),
      default: #003c71,
      lighter: #b3c5d4,
      darker: #002e5e,
      text: #003c71,
      default-contrast: #ffffff,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #ffffff,
      "400-contrast": #ffffff,
      "500-contrast": #ffffff,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #ffffff,
      "A400-contrast": #ffffff,
      "A700-contrast": #ffffff,
      "contrast-contrast": null,
    ),
    warn: (
      50: #fee8e7,
      100: #fcc7c3,
      200: #faa19b,
      300: #f77b72,
      400: #f65f54,
      500: #f44336,
      600: #f33d30,
      700: #f13429,
      800: #ef2c22,
      900: #ec1e16,
      A100: #ffffff,
      A200: #ffe9e9,
      A400: #ffb8b6,
      A700: #ff9f9c,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      ),
      default: #f44336,
      lighter: #fcc7c3,
      darker: #f13429,
      text: #f44336,
      default-contrast: #ffffff,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #ffffff,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null,
    ),
    is-dark: true,
    foreground: (
      base: white,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: white,
      icons: white,
      text: white,
      slider-min: white,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3),
    ),
    background: (
      status-bar: black,
      app-bar: #212121,
      background: #303030,
      hover: rgba(255, 255, 255, 0.04),
      card: #424242,
      dialog: #424242,
      disabled-button: rgba(255, 255, 255, 0.12),
      raised-button: #424242,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #212121,
      selected-disabled-button: #424242,
      disabled-button-toggle: black,
      unselected-chip: #616161,
      disabled-list-option: rgba(255, 255, 255, 0.12),
      tooltip: #616161,
    ),
  ),
  primary: (
    50: #e0f3e9,
    100: #b3e1c7,
    200: #80cda2,
    300: #4db87c,
    400: #26a960,
    500: #009a44,
    600: #00923e,
    700: #008835,
    800: #007e2d,
    900: #006c1f,
    A100: #9cffaf,
    A200: #69ff86,
    A400: #36ff5d,
    A700: #1cff48,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
    default: #009a44,
    lighter: #b3e1c7,
    darker: #008835,
    text: #009a44,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null,
  ),
  accent: (
    50: #e0e8ee,
    100: #b3c5d4,
    200: #809eb8,
    300: #4d779c,
    400: #265986,
    500: #003c71,
    600: #003669,
    700: #002e5e,
    800: #002754,
    900: #001a42,
    A100: #779dff,
    A200: #4478ff,
    A400: #1154ff,
    A700: #0045f6,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
    default: #003c71,
    lighter: #b3c5d4,
    darker: #002e5e,
    text: #003c71,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #ffffff,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #ffffff,
    "A400-contrast": #ffffff,
    "A700-contrast": #ffffff,
    "contrast-contrast": null,
  ),
  warn: (
    50: #fee8e7,
    100: #fcc7c3,
    200: #faa19b,
    300: #f77b72,
    400: #f65f54,
    500: #f44336,
    600: #f33d30,
    700: #f13429,
    800: #ef2c22,
    900: #ec1e16,
    A100: #ffffff,
    A200: #ffe9e9,
    A400: #ffb8b6,
    A700: #ff9f9c,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
    default: #f44336,
    lighter: #fcc7c3,
    darker: #f13429,
    text: #f44336,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #000000,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null,
  ),
  is-dark: true,
  foreground: (
    base: white,
    divider: rgba(255, 255, 255, 0.12),
    dividers: rgba(255, 255, 255, 0.12),
    disabled: rgba(255, 255, 255, 0.5),
    disabled-button: rgba(255, 255, 255, 0.3),
    disabled-text: rgba(255, 255, 255, 0.5),
    elevation: black,
    hint-text: rgba(255, 255, 255, 0.5),
    secondary-text: rgba(255, 255, 255, 0.7),
    icon: white,
    icons: white,
    text: white,
    slider-min: white,
    slider-off: rgba(255, 255, 255, 0.3),
    slider-off-active: rgba(255, 255, 255, 0.3),
  ),
  background: (
    status-bar: black,
    app-bar: #212121,
    background: #303030,
    hover: rgba(255, 255, 255, 0.04),
    card: #424242,
    dialog: #424242,
    disabled-button: rgba(255, 255, 255, 0.12),
    raised-button: #424242,
    focused-button: rgba(255, 255, 255, 0.12),
    selected-button: #212121,
    selected-disabled-button: #424242,
    disabled-button-toggle: black,
    unselected-chip: #616161,
    disabled-list-option: rgba(255, 255, 255, 0.12),
    tooltip: #616161,
  ),
);
