$theme: (
  color: (
    primary: (
      50: #e0f3e9,
      100: #b3e1c7,
      200: #80cda2,
      300: #4db87c,
      400: #26a960,
      500: #009a44,
      600: #00923e,
      700: #008835,
      800: #007e2d,
      900: #006c1f,
      A100: #9cffaf,
      A200: #69ff86,
      A400: #36ff5d,
      A700: #1cff48,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      ),
      default: #007e2d,
      lighter: #b3e1c7,
      darker: #008835,
      text: #007e2d,
      default-contrast: #ffffff,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #ffffff,
      "500-contrast": #ffffff,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null,
    ),
    accent: (
      50: #e0e8ee,
      100: #b3c5d4,
      200: #809eb8,
      300: #4d779c,
      400: #265986,
      500: #003c71,
      600: #003669,
      700: #002e5e,
      800: #002754,
      900: #001a42,
      A100: #779dff,
      A200: #4478ff,
      A400: #1154ff,
      A700: #0045f6,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
      ),
      default: #003c71,
      lighter: #b3c5d4,
      darker: #002e5e,
      text: #003c71,
      default-contrast: #ffffff,
      lighter-contrast: #000000,
      darker-contrast: #ffffff,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #ffffff,
      "400-contrast": #ffffff,
      "500-contrast": #ffffff,
      "600-contrast": #ffffff,
      "700-contrast": #ffffff,
      "800-contrast": #ffffff,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #ffffff,
      "A400-contrast": #ffffff,
      "A700-contrast": #ffffff,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: false,
    foreground: (
      base: black,
      divider: rgba(0, 0, 0, 0.12),
      dividers: rgba(0, 0, 0, 0.12),
      disabled: rgba(0, 0, 0, 0.38),
      disabled-button: rgba(0, 0, 0, 0.26),
      disabled-text: rgba(0, 0, 0, 0.38),
      elevation: black,
      hint-text: rgba(0, 0, 0, 0.38),
      secondary-text: rgba(0, 0, 0, 0.54),
      icon: rgba(0, 0, 0, 0.54),
      icons: rgba(0, 0, 0, 0.54),
      text: rgba(0, 0, 0, 0.87),
      slider-min: rgba(0, 0, 0, 0.87),
      slider-off: rgba(0, 0, 0, 0.26),
      slider-off-active: rgba(0, 0, 0, 0.38),
    ),
    background: (
      status-bar: #e0e0e0,
      app-bar: #f5f5f5,
      background: #fafafa,
      hover: rgba(0, 0, 0, 0.04),
      card: white,
      dialog: white,
      disabled-button: rgba(0, 0, 0, 0.12),
      raised-button: white,
      focused-button: rgba(0, 0, 0, 0.12),
      selected-button: #e0e0e0,
      selected-disabled-button: #bdbdbd,
      disabled-button-toggle: #eeeeee,
      unselected-chip: #e0e0e0,
      disabled-list-option: #eeeeee,
      tooltip: #616161,
    ),
  ),
  primary: (
    50: #e0f3e9,
    100: #b3e1c7,
    200: #80cda2,
    300: #4db87c,
    400: #26a960,
    500: #009a44,
    600: #00923e,
    700: #008835,
    800: #007e2d,
    900: #006c1f,
    A100: #9cffaf,
    A200: #69ff86,
    A400: #36ff5d,
    A700: #1cff48,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
    default: #007e2d,
    lighter: #b3e1c7,
    darker: #008835,
    text: #007e2d,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #000000,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #000000,
    "A400-contrast": #000000,
    "A700-contrast": #000000,
    "contrast-contrast": null,
  ),
  accent: (
    50: #e0e8ee,
    100: #b3c5d4,
    200: #809eb8,
    300: #4d779c,
    400: #265986,
    500: #003c71,
    600: #003669,
    700: #002e5e,
    800: #002754,
    900: #001a42,
    A100: #779dff,
    A200: #4478ff,
    A400: #1154ff,
    A700: #0045f6,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
    default: #003c71,
    lighter: #b3c5d4,
    darker: #002e5e,
    text: #003c71,
    default-contrast: #ffffff,
    lighter-contrast: #000000,
    darker-contrast: #ffffff,
    "50-contrast": #000000,
    "100-contrast": #000000,
    "200-contrast": #000000,
    "300-contrast": #ffffff,
    "400-contrast": #ffffff,
    "500-contrast": #ffffff,
    "600-contrast": #ffffff,
    "700-contrast": #ffffff,
    "800-contrast": #ffffff,
    "900-contrast": #ffffff,
    "A100-contrast": #000000,
    "A200-contrast": #ffffff,
    "A400-contrast": #ffffff,
    "A700-contrast": #ffffff,
    "contrast-contrast": null,
  ),
  warn: (
    50: #ffebee,
    100: #ffcdd2,
    200: #ef9a9a,
    300: #e57373,
    400: #ef5350,
    500: #f44336,
    600: #e53935,
    700: #d32f2f,
    800: #c62828,
    900: #b71c1c,
    A100: #ff8a80,
    A200: #ff5252,
    A400: #ff1744,
    A700: #d50000,
    contrast: (
      50: rgba(0, 0, 0, 0.87),
      100: rgba(0, 0, 0, 0.87),
      200: rgba(0, 0, 0, 0.87),
      300: rgba(0, 0, 0, 0.87),
      400: rgba(0, 0, 0, 0.87),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: rgba(0, 0, 0, 0.87),
      A200: white,
      A400: white,
      A700: white,
    ),
    default: #f44336,
    lighter: #ffcdd2,
    darker: #d32f2f,
    text: #f44336,
    default-contrast: white,
    lighter-contrast: rgba(0, 0, 0, 0.87),
    darker-contrast: white,
    "50-contrast": rgba(0, 0, 0, 0.87),
    "100-contrast": rgba(0, 0, 0, 0.87),
    "200-contrast": rgba(0, 0, 0, 0.87),
    "300-contrast": rgba(0, 0, 0, 0.87),
    "400-contrast": rgba(0, 0, 0, 0.87),
    "500-contrast": white,
    "600-contrast": white,
    "700-contrast": white,
    "800-contrast": white,
    "900-contrast": white,
    "A100-contrast": rgba(0, 0, 0, 0.87),
    "A200-contrast": white,
    "A400-contrast": white,
    "A700-contrast": white,
    "contrast-contrast": null,
  ),
  is-dark: false,
  foreground: (
    base: black,
    divider: rgba(0, 0, 0, 0.12),
    dividers: rgba(0, 0, 0, 0.12),
    disabled: rgba(0, 0, 0, 0.38),
    disabled-button: rgba(0, 0, 0, 0.26),
    disabled-text: rgba(0, 0, 0, 0.38),
    elevation: black,
    hint-text: rgba(0, 0, 0, 0.38),
    secondary-text: rgba(0, 0, 0, 0.54),
    icon: rgba(0, 0, 0, 0.54),
    icons: rgba(0, 0, 0, 0.54),
    text: rgba(0, 0, 0, 0.87),
    slider-min: rgba(0, 0, 0, 0.87),
    slider-off: rgba(0, 0, 0, 0.26),
    slider-off-active: rgba(0, 0, 0, 0.38),
  ),
  background: (
    status-bar: #e0e0e0,
    app-bar: #f5f5f5,
    background: #fafafa,
    hover: rgba(0, 0, 0, 0.04),
    card: white,
    dialog: white,
    disabled-button: rgba(0, 0, 0, 0.12),
    raised-button: white,
    focused-button: rgba(0, 0, 0, 0.12),
    selected-button: #e0e0e0,
    selected-disabled-button: #bdbdbd,
    disabled-button-toggle: #eeeeee,
    unselected-chip: #e0e0e0,
    disabled-list-option: #eeeeee,
    tooltip: #616161,
  ),
);
